.navbarGroup {
  gap: 12px;
}

.navbar {
  padding: 0 24px;
  position: sticky;
  top: 0;
  background-color: #e4edf3;;
}

.container {
  margin: 0 auto;
  width: var(--content-width-max);
}

.navbarHeading {
  cursor: default;
}

.headerText {
  font-weight: 500;
}
