.dropdownPopover {
    width: 150px;
    margin-bottom: 8px;
}

.dropdownMenu {
    max-height: 200px;
    overflow: scroll;
}

.dropdownButton {
    padding: 0 16px;
}

.dropdownText {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}
