.root {
  width: 100%;
  min-width: 960px;
  height: 100%;
}

.mainContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}

.mainContent {
  display: flex;
  flex-direction: column;
  position: relative;
  width: var(--content-width-max);
  padding: 8px;
}
