.contentWrapper {
  position: relative;
  width: 100%;
}

.paddingWrapper {
  padding: 8px;
}

.tableMain {
  width: inherit;
}

.marginButton {
  margin-bottom: 8px;
}

.headerEmailGroups {
  justify-content: space-between;
}
