.tdStyled {
  height: 1px;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.tableDataWrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.unsavedEmailTitle {
  display: flex;
  flex-direction: row;
}

/*move to common*/
.paddingWrapper {
  padding: 8px;
}

.marginButton {
  margin-bottom: 6px;
}

.headerEmailGroups {
  justify-content: space-between;
}

.contentWrapper {
  position: relative;
  width: 100%;
}
