.tableMain {
  width: 100%;
}

.thWrapper > h4 {
  margin: 0;
}

.firstCampaignsElement {
  padding: 11px 11px 11px 0 !important;
  min-width: 475px;
}

.lastChild:last-child {
  mask-image: linear-gradient(180deg, black, transparent);
  -webkit-mask-image: linear-gradient(180deg, black, transparent);
}
